body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	float: right;
	margin: 0 10px 0 0px;
    
}

a {text-decoration:none;}
a:hover {text-decoration:underline;}

.header a{
    color: #000;
}

#headerlist {
	list-style: none;
	margin-left: 80vw;
}
.header li{
	float: left;
	margin-right: 10px;
	color: #000;
	text-decoration: none;

}
#menu{
	height: 35px;
	width: 35px;
	margin-top: -10px;
}
.header button{
	padding: 8px;
	font-size: 15px;
	color: #fff;
	border-radius: 100%;
	font-variant: bold;
	background: #CC00CC;
	text-align: center;
	margin-top: -10px;
}

.main {
	text-align: center;
}

.logo img{
	height: 100px;
	width: 310px;
	margin-top: 80px;
}

.search input {
	margin-top: 20px;
	height: 25px;
	width: 600px;
	border-radius: 30px;
	border: 1px solid grey;
	padding:10px;
	font-size: 15px;
	cursor: auto;
	padding-left: 60px;

}

#searchsymbol {
	height: 25px;
	width: 25px;
}

.searchbtn {
	margin-left: -580px;
	margin-top: -35px;
}
#microphn {
	height: 35px;
	cursor: pointer;
}

.mcphn {
	margin-top: -35px;
	margin-left: 560px;
    
}
.searchbuttons{
	margin-top: 25px;
}

.searchbuttons button{
	height: 40px;
	width: 150px;
	text-align: center;
	font-size: 15px;
	margin-right: 10px;
	border: 1px solid #e4e4e4;
	color: #6f6f6f;
	margin-bottom: 20px;
	background-color: #f2f2f2;
}

label {
	font-size: 14px;
}

.languages a {
	font-size: 14px;
	margin-right: 5px;
}


.Place {
	padding-left: 20px;
	color: #6f6f6f;
	background-color: #f2f2f2;
	height: 50px;
	width: 100%;
	font-size: 15px;
	border: 1px solid #e4e4e4;
}

.footeroptions{
	padding-left: 20px;
	color: #6f6f6f;
	background-color: #f2f2f2;
	height: 50px;
	width: 100%;
	font-size: 15px;
	border: 1px solid #e4e4e4;
}


#footerlist{
	list-style: none;
	text-decoration: none;
	margin-left: -40px;
	

}

.footeroptions li{
	display: inline;
	margin-right: 10px;

}


#space {
	margin-left: 760px;
}

p{
	color: #6f6f6f;
}

input:focus {
    outline:none;
}

.footeroptions a{
    color: #6f6f6f;
}

footer{
	bottom: 0;
	position: fixed;
}